.card {
  margin: 1rem;
  padding: 1rem;
  width: 15rem;
  border: solid black .25rem
}

.mat-card-header-text {
  margin: 0;
}

.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}