.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease-in-out;
  border-left: .0 solid var(--dark-purple);
  &:hover {
    transform: scaleX(1.1);  
    border-width: .3rem
  }
  .card {
    padding: 1rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
}


.mat-card-header-text {
  margin: 0;
}

.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.mat-card-title {
  font-size: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
