.vocab-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

#welcomeMessage {
  font-size: 3rem;
  margin: 2rem;
}

.grid-container {
  margin: 0 1.5rem;
}