<div class="flex-container">
  <h1 id="welcomeMessage">Welcome to Early Vocab Training</h1>
</div>
<div class="flex-container">
  <h4>Select an age to load vocab words</h4>
</div>
<div class="flex-container">
  <mat-form-field>
    <mat-label>age</mat-label>
    <mat-select [ngModel]="selectedAge" (ngModelChange)="onAgeChange($event)">
      <mat-option *ngFor="let age of ages | async" [value]="age">
        {{age}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="grid-container" *ngIf="selectedAge">
  <section class="vocab-grid">
    <app-vocab-card *ngFor="let vocabWord of vocabWords | async" [vocabWord]="vocabWord"></app-vocab-card>
    <div class="flex-container" *ngIf="vocabWords.length < 1">
      <h1>COMING SOON</h1>
    </div>
  </section>
</div>