/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
html {
  scroll-behavior: auto;
}
body {
  margin: 0;
  font-family: "Staatliches", cursive;
  --dark-purple: #c299d6;
  --light-purple: #e8daef;
  background-color: var(--light-purple);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
