/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
html {
  scroll-behavior: auto;
}
body {
  margin: 0;
  font-family: "Staatliches", cursive;
  --dark-purple: #c299d6;
  --light-purple: #e8daef;
  background-color: rgb(242, 241, 241);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.mat-dialog-container {
  padding: 0!important;
}
